* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
}

/* Navigation Styles */

.nav-container {
    display: flex;
    text-align: center;
    align-items: center;
    background: #fff;
    box-shadow: 0px 0px 20px 0px rgba(128, 128, 128, 0.23);
    padding: 15px 0;
}

.logo-container {
    display: flex;
    text-align: center;
    align-items: center;
    width: 50%;
    margin-left: 9em;
}

.logo-container img {
    width: 80px;
    object-fit: cover;
    padding-right: 1em;
}

.logo-container p {
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
}

.logo-heading {
    color: #FF42A5;
    text-align: center;
}

.nav-items {
    width: 50%;
    align-items: center;

}

.nav-items ul {
    display: flex;
}

.nav-items li {
    list-style: none;
    margin-right: 20px;
}

.nav-items a {
    text-decoration: none;
    color: black;
    padding: 15px;
    text-decoration: none;
    font-weight: 600;
    color: #3C354F;
}

.nav-btn {
    text-decoration: none;
    padding: 10px 25px;
    border: none;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.1);
}

/* Banner Styles */

.banner-container {
    background-image: url(./images/Group 14.png);
    background-repeat: no-repeat;
    background-size: 50%;
}

.banner-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
}

.banner-content img {
    width: 500px;
}

.banner-title h1 {
    font-size: 4rem;
    font-style: normal;
    font-weight: 800;
    background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-title h3 {
    color: #0B0223;
    text-align: center;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
}

.banner-title p {
    color: #534c64;
    padding: 5px 0;
}
.btn-banner{
    padding-top: 30px;
}

.btn-banner a{
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.btn-sign {
    background: #ff42a5;
    padding: 15px 30px;
    border: none;
    border-radius: 20px;
}
.btn-playon {
    background: #4ec5f7;
    padding: 15px 30px;
    border: none;
    border-radius: 20px;
}

/* Video Styles */

.videos-content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .box {
    width: 200px;
  }
  
  .box img {
    width: 100%;
    height: auto;
  }
  
  .caption {
    color: #534C64;
    font-family: Work Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    padding-bottom: 50px;
  }
  h2 {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 50px;
  }

.video-content {
    width: 80%;
    margin: auto;
}
.video-title {
    text-align: center;
    padding: 30px 0;
}
.video-title h1 {
    font-size: 2.5rem;
    padding-bottom: 10px;
    font-weight: 800;
}
.section-img {
    display: flex;
    gap: 8px;
    justify-content: space-around;
}

.section-img img {
    width: 245px;
}
.section-img-p {
    margin-top: 10px;
    width: 220px;
}
.video-h1 {
    background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Image Hover Styles */

.container {
    position: relative;
    width: 245px;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    border: 3px solid #f948b2;
    border-radius: 15px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 289px;
    width: 245px;
    opacity: 0;
    transition: 0.5s ease;
    background-color: #00000096;
}

.container:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
.watch-now {
    color: #f948b2;
    font-size: 0.8rem;
    font-weight: 600;
}






























/*Responsive for Mobile devices*/

@media screen and (max-width: 425px) {

    /* Navigation Responsive */

    .nav-container {
        flex-direction: column;
        margin-top: 10px;
        gap: 10px;
        box-shadow: none;
        align-items: center;
    }

    .logo-container {
        justify-content: center;
        padding-right: 100px;
    }

    .logo-container p {
        font-size: 35px;
        font-style: normal;
        font-weight: 700;
        justify-content: center;
    }

    /* Banner Responsive */

    .banner-content{
        flex-direction: column-reverse;
        gap: 80px;
    }
    .banner-container {
        background-position: center bottom;
        background-size: 400px 280px;
    }

    /* Video Responsive */

    .section-img {
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }
    .video-title h1 {
        font-size: 1.4rem;
        font-weight: 800;
    }
    .section-img {
        width: 76%;
        margin: auto;
    }
    .section-title p {
        padding: 0 5px;
    }
    
}



  

  
  





/* Responsive for Tablet devices*/

@media screen and (min-width: 425px) and (max-width: 768px) {

    /* Navigation Responsive */

    .nav-container {
        flex-direction: column;
        margin-top: 10px;
        gap: 10px;
        box-shadow: none;
    }

    .logo-container {
        text-align: center;
        align-items: center;
        margin-right: 70px;
        padding-bottom: 50px;
    }

    .nav-items ul {
        flex-direction: column;
        text-align: center;
        gap: 30px;
    }

    /* Banner Responsive */

    .banner-content{
        flex-direction: column-reverse;
        gap: 20px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .banner-container {
        background-position: center bottom;
        background-size: 400px 280px;
    }

    /* Video Responsive */

    .section-img {
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }
    .video-title h1 {
        font-size: 1.4rem;
        font-weight: 800;
    }
    .section-img {
        width: 76%;
        margin: auto;
    }
    .section-title p {
        padding: 0 5px;
    }
    }
    